{{> head }}

    {{> navbar }}

    <div class="col-8">
        <h1>About Page</h1>
    </div>

     <div class="col-4">
        <img class="img-thumbnail" src="https://i.ytimg.com/vi/PUSp8ox1QYo/maxresdefault.jpg" alt="Image">
    </div>

    {{> footer }}
    